<div class="grid-wrapper">
  <div
    class="grid"
    *ngIf="board"
    (mouseleave)="onMouseLeave()"
  >
    <div class="row" *ngFor="let row of board.cells; let r = index">
      <div
        class="cell"
        *ngFor="let cell of row; let c = index"
        [style.background-color]="getRectColor(r, c)"
        [class.is-preview]="previewRect && inRect(r, c, previewRect)"
        (mousedown)="onCellMouseDown(r, c)"
        (mousemove)="onCellMouseMove(r, c)"
        (mouseup)="onCellMouseUp(r, c)"
      >
        <span *ngIf="cell !== 0">{{ cell }}</span>
      </div>
    </div>
  </div>
</div>